:root {
  --bg-color: #000;
  --color: #fff;
}

body {
  background-color: var(--bg-color);
}

.sphere {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 300px;
  width: 300px;
  transform-style: preserve-3d;
  animation: rotateSphere 4s linear infinite;
}

.sphere .plane {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  list-style-type: none;
  margin: auto;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
}
.sphere .plane li {
  position: absolute;
  height: 50%;
  width: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform-origin: bottom;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

i {
  color: var(--color);
}

.sphere .plane li:nth-child(1) {
  transform: rotate(10deg);
}
.sphere .plane li:nth-child(2) {
  transform: rotate(20deg);
}
.sphere .plane li:nth-child(3) {
  transform: rotate(30deg);
}
.sphere .plane li:nth-child(4) {
  transform: rotate(40deg);
}
.sphere .plane li:nth-child(5) {
  transform: rotate(50deg);
}
.sphere .plane li:nth-child(6) {
  transform: rotate(60deg);
}
.sphere .plane li:nth-child(7) {
  transform: rotate(70deg);
}
.sphere .plane li:nth-child(8) {
  transform: rotate(80deg);
}
.sphere .plane li:nth-child(9) {
  transform: rotate(90deg);
}
.sphere .plane li:nth-child(10) {
  transform: rotate(100deg);
}
.sphere .plane li:nth-child(11) {
  transform: rotate(110deg);
}
.sphere .plane li:nth-child(12) {
  transform: rotate(120deg);
}
.sphere .plane li:nth-child(13) {
  transform: rotate(130deg);
}
.sphere .plane li:nth-child(14) {
  transform: rotate(140deg);
}
.sphere .plane li:nth-child(15) {
  transform: rotate(150deg);
}
.sphere .plane li:nth-child(16) {
  transform: rotate(160deg);
}
.sphere .plane li:nth-child(17) {
  transform: rotate(170deg);
}
.sphere .plane li:nth-child(18) {
  transform: rotate(180deg);
}
.sphere .plane:nth-child(1) {
  transform: rotateY(10deg);
}
.sphere .plane:nth-child(2) {
  transform: rotateY(20deg);
}
.sphere .plane:nth-child(3) {
  transform: rotateY(30deg);
}
.sphere .plane:nth-child(4) {
  transform: rotateY(40deg);
}
.sphere .plane:nth-child(5) {
  transform: rotateY(50deg);
}
.sphere .plane:nth-child(6) {
  transform: rotateY(60deg);
}
.sphere .plane:nth-child(7) {
  transform: rotateY(70deg);
}
.sphere .plane:nth-child(8) {
  transform: rotateY(80deg);
}
.sphere .plane:nth-child(9) {
  transform: rotateY(90deg);
}
.sphere .plane:nth-child(10) {
  transform: rotateY(100deg);
}
.sphere .plane:nth-child(11) {
  transform: rotateY(110deg);
}
.sphere .plane:nth-child(12) {
  transform: rotateY(120deg);
}
.sphere .plane:nth-child(13) {
  transform: rotateY(130deg);
}
.sphere .plane:nth-child(14) {
  transform: rotateY(140deg);
}
.sphere .plane:nth-child(15) {
  transform: rotateY(150deg);
}
.sphere .plane:nth-child(16) {
  transform: rotateY(160deg);
}
.sphere .plane:nth-child(17) {
  transform: rotateY(170deg);
}
.sphere .plane:nth-child(18) {
  transform: rotateY(180deg);
}
.sphere .plane:nth-child(19) {
  transform: rotateY(190deg);
}
.sphere .plane:nth-child(20) {
  transform: rotateY(200deg);
}
.sphere .plane:nth-child(21) {
  transform: rotateY(210deg);
}
.sphere .plane:nth-child(22) {
  transform: rotateY(220deg);
}
.sphere .plane:nth-child(23) {
  transform: rotateY(230deg);
}
.sphere .plane:nth-child(24) {
  transform: rotateY(240deg);
}
.sphere .plane:nth-child(25) {
  transform: rotateY(250deg);
}
.sphere .plane:nth-child(26) {
  transform: rotateY(260deg);
}
.sphere .plane:nth-child(27) {
  transform: rotateY(270deg);
}
.sphere .plane:nth-child(28) {
  transform: rotateY(280deg);
}
.sphere .plane:nth-child(29) {
  transform: rotateY(290deg);
}
.sphere .plane:nth-child(30) {
  transform: rotateY(300deg);
}
.sphere .plane:nth-child(31) {
  transform: rotateY(310deg);
}
.sphere .plane:nth-child(32) {
  transform: rotateY(320deg);
}
.sphere .plane:nth-child(33) {
  transform: rotateY(330deg);
}
.sphere .plane:nth-child(34) {
  transform: rotateY(340deg);
}
.sphere .plane:nth-child(35) {
  transform: rotateY(350deg);
}
.sphere .plane:nth-child(36) {
  transform: rotateY(360deg);
}
@keyframes rotateSphere {
  0% {
    transform: rotate3d(1, 1, 1, -360deg);
 }
  100% {
    transform: rotate3d(0, 0, 0, 360deg);
 }
} 
