:root {
  --bg-color: #00008b;
  --ripple-color: #fff;

  background-color: var(--bg-color);
  padding: 0;
  margin: 0;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ripple {
  position: relative; 
}

.ripple::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  top: -80px;
  border-radius: 100%;
  border: 6px solid var(--ripple-color);
  transform: translate(0px) rotateX(80deg);
  animation: ripple 2s linear infinite 1s;
}

.ripple:after {
  animation: ripple 1.5s linear infinite 2s;
}

@keyframes ripple {
  0% {
    width: 50px;
    height: 50px;
    opacity: 1;    
  }
  100% {
    width: 250px;
    height: 250px;
    opacity: 0;
  }
}

.water-drop {
  position: relative;
  width: 50px;
  height: 50px;
  top: -250px;
  margin-left: 30px;
  border-radius: 100% 5% 100% 100%;
  transform: rotate(-45deg);
  background-color: var(--ripple-color);
  animation: water-drop 2s linear infinite;
}

@keyframes water-drop {
  100% {
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
}