:root {
  --bg-color: #fff;
  --html-color: #f06529;
  --js-color: #f0db4f;
  --css-color: #2965f1;
}

body {
	 margin: 0;
   overflow: hidden;
   background-color: var(--bg-color);
}

body * {
	 box-sizing: border-box;
}

.spinner {
	 position: fixed;
	 top: 0;
	 left: 0;
	 width: 100%;
	 transition: all 0.1s linear;
	 opacity: 0;
	 height: 100vh;
	 transform: scale(10);
	 z-index: -1;
}

.container .spinner {
	 opacity: 1;
}

@keyframes loadicons {
	 0% {
		 transform: scale(0) translate3d(0, 0, 0);
	}
	 11% {
		 transform: scale(1.2) translate3d(0, 0, 0);
	}
	 22% {
		 transform: scale(1) translate3d(0, 0, 0);
	}
	 33% {
		 transform: scale(0) translate3d(0, 0, 0);
	}
}
 
.container .spinner i {
   font-size: 24px;
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
   margin: auto;
   border-radius: 50%;
	 width: 24px;
	 height: 24px;
	 line-height: 1;
	 transform: scale(0) translate3d(0, 0, 0);
}


.container .spinner i:nth-of-type(1) {
   animation: loadicons 3s infinite ease-in-out;
   color: var(--html-color);
}

.container .spinner i:nth-of-type(2) {
  animation: loadicons 3s 1s infinite ease-in-out;
  color: var(--css-color);
}

.container .spinner i:nth-of-type(3) {
  animation: loadicons 3s 2s infinite ease-in-out;
  color: var(--js-color);
}

